<!-- Tag style com os estilos criados por mim -->
<style>
  thead {
    background-color: #042940;
    color: white;
  }

  .table>thead>tr>th {
    border-bottom: none;
  }

  table {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid #042940;
    border-radius: 10px !important;
  }

  .titulo-principal {
    margin: 40px 0;
    color: #042940;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 900;
    text-transform: uppercase;
  }

  .titulo-principal::after {
    content: '';
    display: block;
    width: 150px;
    height: 4px;
    background-color: #0b4004;
    margin: 0 auto;
  }

  td {
    font-weight: bold;
  }
</style>

<!-- No titulo principal usei classe do bootstrap e uma classe criada por mim também -->
<h1 class="text-center titulo-principal">Lista de Alunos</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Criação da tabela, usado modelo do bootstrap -->
      <table class="table table-striped">
        <!-- Cabeçalho da tabela -->
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">NOME DO CURSO</th>
            <th scope="col">RU</th>
            <th scope="col">DATA NASCIMENTO</th>
          </tr>
        </thead>
        <!-- Corpo da tabela -->
        <tbody>
          <!-- Looping que será feito com os dados dos alunos informados no app.component.ts -->
          <tr *ngFor="let dado of dadosAlunos">
            <th scope="row">{{ dado.id }}</th>
            <td>{{ dado.nome }}</td>
            <td>{{ dado.curso }}</td>
            <td>{{ dado.ru }}</td>
            <td>{{ dado.nasc }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>